main {
    color: var(--fontColor);
}

#about-us {
    display: flex;
    padding: 3em;
    gap: 1em;
}

#our-mission {
    color: var(--fontColor);
    background-color: var(--dustyRose);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-us-cover {
    max-width: 18em;
    max-height: 18em;
    border-radius: 2em;
}

#contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: var(--dustyRose);
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
}

#submit-contact-us {
    margin-bottom: 1em;
}

#msg {
    height: 15em;
    width: 50em;
}

.input-single-line {
    width: 50em;
}
