main {
    color: var(--fontColor);
}

#about-us {
    display: flex;
    padding: 3em;
}

#about-us-cover {
    max-width: 18em;
    max-height: 6em;
    border-radius: 2em;
}

#contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: var(--dustyRose);
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
}
