.custom-item {
    display: flex;
    gap: 2em;
    padding: 2em;
    margin: 2em;
    color: var(--font-color);
    justify-content: center;
    align-items: center;
    align-content: center;
}

.custom-image {
    height: 10em;
    width: 10em;
    border-style: solid;
    border-radius: 2em;
    border-width: 0.1em;
    border-color: var(--font-color);
}

#author-event,
#sale {
    background-color: var(--dustyRose);
    width: 100%;
}
