:root {
    --color-1: #2e2e4e;
    --color-2: #5c2e5c;
    --color-3: #3f5461;
    --color-4: #3e5641;
    --color-5: #742c36;

    --font-color: #131c26;

    --font-title: arial;
    --font-subtitle: comfortaa;
    --font-body: calibri;
    --font-captions: arial;
}
