:root {
    --inkwellBlue: #2e4057;
    --intensityIndigo: #ee583f;
    --dustyRose: #f7b3cc;
    --agedGold: #c7b65e;
    --parchmentWhite: #fff7ee;
    --font-color: #131c26;
}

.title-large {
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
}

.title {
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
}

.subtitle {
    font-family: Comfortaa;
    font-weight: normal;
    font-size: 15px;
}

.body-large {
    font-family: Calibri;
    font-weight: normal;
    font-size: 20px;
}

.body-strong {
    font-family: Calibri;
    font-weight: bold;
    font-size: 16px;
}

.body {
    font-family: Calibri;
    font-weight: normal;
    font-size: 16px;
}

.captions {
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
}

body {
    margin: 0;
    color: var(--font-color);
    background-color: var(--parchmentWhite);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    background-color: var(--inkwellBlue);
    color: var(--agedGold);
    max-height: 8em;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5em;
}

footer {
    display: flex;
    background-color: var(--inkwellBlue);
    color: var(--parchmentWhite);
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#logo-image {
    max-width: 6em;
    max-height: 6em;
    object-fit: cover;
}

#logo,
#nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-link-item,
.logo {
    text-decoration: none;
    color: var(--agedGold);
    padding: 0 0.5em;
}

.footer-list {
    display: flex;
    text-decoration: none;
    color: var(--parchmentWhite);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.nv-footer {
    text-decoration: none;
    color: var(--parchmentWhite);
}
