:root {
    --color-1: #2e4057;
    --color-2: #ee583f;
    --color-3: #f7b3cc;
    --color-4: #c7b65e;
    --color-5: #fff7ee;

    --font-color: #131c26;

    --font-title: arial;
    --font-subtitle: comfortaa;
    --font-body: calibri;
    --font-captions: arial;
}
body {
    margin: 0;
}

header {
    display: flex;
    background-color: var(--color-1);
    color: var(--color-4);
    max-height: 5em;
    justify-content: space-between;
}

#logo-image {
    max-width: 5em;
    max-height: 5em;
    object-fit: cover;
}
